extends layout/layout.pug

block content
  main.main
    .block.block-1
    .block.block-2
    .block.block-3
    .block.block-4
  .image
    img(src="./src/images/orig.jpeg")

  a(href="/blog.pug")
    | blob