body {
  background: $green;
}

.main {
  display: grid;
}

.block {
  display: flex;
  width: 200px;
  height: 200px;
}

.block-1 {
  background: red;
}

.block-2 {
  background: white;
}

.block-3 {
  background: blue;
}

.block-4 {
  background: #cccccc;
}

.image img {
  object-fit: cover;
}